/*media  queries*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 1024px) {
  p {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 766px) {
  .arroba {
    display: none;
  }
  .logo-baja {
    display: block;
    display: none;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
}
/*   nav   */
nav a {
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  margin: 15px;
  color: dimgrey;
}
nav a:hover {
  color: white;
}
@media (max-width: 766px) {
  nav a {
    padding: 0px;
    margin: 0px;
  }
}
nav ul {
  list-style: none;
  font-size: 0;
}
nav ul ul {
  position: absolute;
  display: none;
}
nav ul li {
  display: block;
}
nav ul li:hover ul {
  display: block;
}

/*   body   */
body {
  font-family: "Roboto", sans-serif;
}

.arroba {
  font-size: 30px;
}

/*    cards   */
.inicio {
  padding: 15%;
}

.contacto {
  padding: 5%;
}
.contacto .info {
  padding-left: 5%;
}

.container {
  padding: 10%;
}
@media (max-width: 1024px) {
  .container {
    display: grid;
  }
}
@media (max-width: 766px) {
  .container {
    display: grid;
  }
}
@media screen and (max-width: ancho) {
  .container {
    flex-direction: column;
  }
}

.menus {
  padding: 10%;
}

.row {
  display: flex;
  align-items: center;
}

.centrado {
  padding: 0px 25% 0px 25%;
  text-align: center;
}
.centrado p, .centrado i {
  text-align: center;
}

/*  img   */
.img-responsive {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .img-responsive {
    width: 100px;
  }
}

.card .body {
  padding: 5%;
}
.card p {
  padding-left: 5%;
  padding-right: 5%;
}

/*  buttons  */
button a {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
}

.btn {
  align-items: center;
}

.botones {
  display: flex;
  justify-content: center;
}
.botones .menu {
  margin-left: 15px;
  background-color: grey;
}

/* footer */
footer {
  text-align: center;
  background-color: gray;
  padding-top: 5%;
  padding-bottom: 10%;
}
footer p {
  padding-top: 120 px;
}

/* formulario*/
form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}
@media (max-width: 1024px) {
  form {
    font-size: 12px;
    margin: 10%;
  }
}
@media (max-width: 766px) {
  form {
    font-size: 12px;
    margin: 0px 5px 5px 15px;
    padding: 15px 15px 15px 20px;
  }
  form textarea {
    padding: 10px;
  }
}
form p {
  margin: 24px;
  padding: 30%;
}
form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
form input[type=text], form input[type=email] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}
form input[type=submit]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
