/*  img   */
.img-responsive{
    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;

    @include tablet{
        width:100px;
    }
}
.card{
    .body{
        padding: 5%;
    }
    p{
        padding-left: 5%;
        padding-right: 5%;

    }
}
.banner{
    padding: 0%;
    margin: 0%;
    opacity: 50%;
}
.titulo{
    h2{
        
        position: absolute;
        top: 5%;
        bottom: 60%;
        margin: 10%;
    }
}