
/*   nav   */

nav {
    a{
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    color: dimgrey;
    &:hover { 
        color:white;
    }
    @include mobile{
        padding: 0px;
        margin: 0px;
}
    }
    ul{
        list-style: none;
        font-size: 0;
        ul{
            position: absolute;
            display: none;
        }
        li{
            display: block;
            &:hover ul{
                display: block;
            }    
        }   
    }
}