/*   nav   */
.navbar-brand img{
    border-radius: 50%;
    font-size: 16px;
}
.navbar{
    width: 100%;
    text-align: center;
    @include mobile{
        .collapse{
            flex-direction: column;
            align-content: flex-end;
        }
        }
}
nav {
    a{
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    color:$blanco;
    &:hover { 
        color: $blanco;
        transition-duration: 500ms;
        background-color: $fondo;
        border-radius: 25px;
    }
    @include mobile{
        padding: 0px;
        margin: 20px;
        justify-content: flex-end;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        ul{
            position: absolute;
            display: none;
        }
        li{
            display: block;
            &:hover ul{
                display: block;
            }    
        }   
    }
}