/*    cards   */
.inicio{
    padding: 15%;
}

.contacto{
    padding: 5%;
    .info{
        padding-left: 5%;
    }
}
.container{
    padding: 10%;

    @include tablet{
        display:grid;
    }
    @include mobile{
        display:grid;
    }
    @include mediaquery(526px){
        flex-direction: column;
    }
}
.menus{
        padding: 10%;
    }

.row{
    display: flex;
    align-items: center;
}
.centrado{
    padding: 0px 25% 0px 25%;
    text-align: center;
    p, i{
        text-align: center; 
    } 
}
